<div class="mat-class">
  <mat-grid-list cols = "60" rowHeight={{setH}}>
    <mat-grid-tile
      id="1"
      [colspan] = "10"
      [rowspan] = "10">
      <div class="infoContainer">
        <h1 class="label">Cpu Load</h1>
        <h1 class="value">{{objects.cpuLoadO.value | number:'1.1-1' }} {{objects.cpuLoadO.unit}}</h1>
        <h3 class="min">
          {{objects.cpuLoadO.min | number:'1.1-1' }} {{objects.cpuLoadO.unit}}
        </h3>
        <h3 class="max">
          {{objects.cpuLoadO.max | number:'1.1-1' }} {{objects.cpuLoadO.unit}}
        </h3>
      </div>

      <!--<app-meter [data]=cpuLoad [label]="'Cpu'" [max]=100></app-meter>-->
    </mat-grid-tile>
    <mat-grid-tile
      [colspan] = "10"
      [rowspan] = "5">
      <div>
        <h1 class="labelsm">CCD1 Temp</h1>
        <!-- <h1 class="value">{{objects.cpuTempCCD1O.value}}</h1> -->
        <h1 class="valuesm">{{objects.cpuTempCCD1O.value | number:'1.1-1' }} {{objects.cpuTempCCD1O.unit}}</h1>
        <h3 class="minsm">
          {{objects.cpuTempCCD1O.min | number:'1.1-1' }} {{objects.cpuTempCCD1O.unit}}
        </h3>
        <h3 class="maxsm">
          {{objects.cpuTempCCD1O.max | number:'1.1-1' }} {{objects.cpuTempCCD1O.unit}}
        </h3>
      </div>
      <!-- <app-meter [data]=cpuTemp [label]="'Cpu Tmp'" [max]=100></app-meter> -->
    </mat-grid-tile>

    <mat-grid-tile
      [colspan] = "10"
      [rowspan] = "10">
      <div>
        <h1 class="label">Cpu Pump RPM</h1>
        <!-- <h1 class="value">{{cpuRPM}}</h1> -->
        <h1 class="value">{{objects.cpuRPMO.value | number:'1.1-1' }} {{objects.cpuRPMO.unit}}</h1>
        <!-- <h3 class="min">
          {{objects.cpuRPMO.min | number:'1.1-1' }} {{objects.cpuRPMO.unit}}
        </h3>
        <h3 class="max">
          {{objects.cpuRPMO.max | number:'1.1-1' }} {{objects.cpuRPMO.unit}}
        </h3> -->
      </div>
      <!-- <app-meter [data]=cpuRPM [label]="'Cpu Fan'" [max]=3000></app-meter> -->
    </mat-grid-tile>
    <mat-grid-tile
      [colspan] = "10"
      [rowspan] = "10">
      <div>
        <h1 class="label">Cpu Pwr</h1>
        <!-- <h1 class="value">{{cpuPower}}</h1> -->
        <h1 class="value">{{objects.cpuPowerO.value | number:'1.1-1' }} {{objects.cpuPowerO.unit}}</h1>
        <h3 class="min">
          {{objects.cpuPowerO.min | number:'1.1-1' }} {{objects.cpuPowerO.unit}}
        </h3>
        <h3 class="max">
          {{objects.cpuPowerO.max | number:'1.1-1' }} {{objects.cpuPowerO.unit}}
        </h3>
      </div>
      <!-- <app-meter [data]=cpuPower [label]="'Cpu Pwr'" [max]=180></app-meter> -->
    </mat-grid-tile>
    <mat-grid-tile
      [colspan] = "10"
      [rowspan] = "10">
      <div>
        <h1 class="label">Cpu Voltage</h1>
        <!-- <h1 class="value">{{cpuVoltage}}</h1> -->
        <h1 class="value">{{objects.cpuVoltageO.value | number:'1.3-3' }} {{objects.cpuVoltageO.unit}}</h1>
        <h3 class="min">
          {{objects.cpuVoltageO.min | number:'1.3-3' }} {{objects.cpuVoltageO.unit}}
        </h3>
        <h3 class="max">
          {{objects.cpuVoltageO.max | number:'1.3-3' }} {{objects.cpuVoltageO.unit}}
        </h3>
      </div>
      <!-- <app-meter [data]=cpuVoltage [label]="'Cpu Pwr'" [max]=1.6></app-meter> -->
    </mat-grid-tile>
    <mat-grid-tile
      [colspan] = "10"
      [rowspan] = "10">
      <div>
        <h1 class="label">Mossfet Temp</h1>
        <!-- <h1 class="value">{{moboMosfetTemp}}</h1> -->
        <h1 class="value">{{objects.moboMosfetTempO.value | number:'1.1-1' }} {{objects.moboMosfetTempO.unit}}</h1>
        <h3 class="min">
          {{objects.moboMosfetTempO.min | number:'1.1-1' }} {{objects.moboMosfetTempO.unit}}
        </h3>
        <h3 class="max">
          {{objects.moboMosfetTempO.max | number:'1.1-1' }} {{objects.moboMosfetTempO.unit}}
        </h3>
      </div>
      <!-- <app-meter [data]=moboMosfetTemp [label]="'Mossfet'" [max]=100></app-meter> -->
      <!--<app-graph [idata]=chartData1 [chartData]=cD1 [height]=150 [width]=220></app-graph>-->
    </mat-grid-tile>
    <mat-grid-tile
      [colspan] = "10"
      [rowspan] = "5">
      <div>
        <h1 class="labelsm">CCD2 Temp</h1>
        <!-- <h1 class="value">{{objects.cpuTempCCD2O.value}}</h1> -->
        <h1 class="valuesm">{{objects.cpuTempCCD2O.value | number:'1.1-1' }} {{objects.cpuTempCCD2O.unit}}</h1>
        <h3 class="minsm">
          {{objects.cpuTempCCD2O.min | number:'1.1-1' }} {{objects.cpuTempCCD2O.unit}}
        </h3>
        <h3 class="maxsm">
          {{objects.cpuTempCCD2O.max | number:'1.1-1' }} {{objects.cpuTempCCD2O.unit}}
        </h3>
      </div>
      <!-- <app-meter [data]=cpuTemp [label]="'Cpu Tmp'" [max]=100></app-meter> -->
    </mat-grid-tile>
    <mat-grid-tile
      [colspan] = "30"
      [rowspan] = "20">
      <app-graph [idata]=chartData></app-graph>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan] = "10"
      [rowspan] = "10">
      <div>
        <h1 class="label">RAM</h1>
        <!-- <h1 class="value">{{ramUsage}}</h1> -->
        <h1 class="value">{{objects.ramUsageO.value | number:'1.1-1' }} {{objects.ramUsageO.unit}}</h1>
        <h3 class="min">
          {{objects.ramUsageO.min | number:'1.1-1' }} {{objects.ramUsageO.unit}}
        </h3>
        <h3 class="max">
          {{objects.ramUsageO.max | number:'1.1-1' }} {{objects.ramUsageO.unit}}
        </h3>
      </div>
      <!-- <app-meter [data]=ramUsage [label]="'RAM'" [max]=100></app-meter> -->
    </mat-grid-tile>
    <mat-grid-tile
      [colspan] = "10"
      [rowspan] = "10">
      <div>
        <h1 class="label">VRAM</h1>
        <!-- <h1 class="value">{{gpuVRAM}}</h1> -->
        <h1 class="value">{{objects.gpuVRAMO.value | number:'1.1-1' }} {{objects.gpuVRAMO.unit}}</h1>
        <h3 class="min">
          {{objects.gpuVRAMO.min | number:'1.1-1' }} {{objects.gpuVRAMO.unit}}
        </h3>
        <h3 class="max">
          {{objects.gpuVRAMO.max | number:'1.1-1' }} {{objects.gpuVRAMO.unit}}
        </h3>
      </div>
      <!-- <app-meter [data]=gpuVRAM [label]="'VRAM'" [max]=100></app-meter> -->
    </mat-grid-tile>
    <mat-grid-tile
      [colspan] = "10"
      [rowspan] = "10">
      <div>
        <h1 class="label">Gpu Temp</h1>
        <!-- <h1 class="value">{{gpuTemp}}</h1> -->
        <h1 class="value">{{objects.gpuTempO.value | number:'1.1-1' }} {{objects.gpuTempO.unit}}</h1>
        <h3 class="min">
          {{objects.gpuTempO.min | number:'1.1-1' }} {{objects.gpuTempO.unit}}
        </h3>
        <h3 class="max">
          {{objects.gpuTempO.max | number:'1.1-1' }} {{objects.gpuTempO.unit}}
        </h3>
      </div>
      <!-- <app-meter [data]=gpuTemp [label]="'Gpu Tmp'" [max]=100></app-meter> -->
    </mat-grid-tile>
    <mat-grid-tile
      [colspan] = "10"
      [rowspan] = "10">
      <div>
        <h1 class="label">Gpu Fan RPM</h1>
        <!-- <h1 class="value">{{gpuRPM}}</h1> -->
        <h1 class="value">{{objects.gpuRPMO.value | number:'1.1-1' }} {{objects.gpuRPMO.unit}}</h1>
        <h3 class="min">
          {{objects.gpuRPMO.min | number:'1.1-1' }} {{objects.gpuRPMO.unit}}
        </h3>
        <h3 class="max">
          {{objects.gpuRPMO.max | number:'1.1-1' }} {{objects.gpuRPMO.unit}}
        </h3>
      </div>
      <!-- <app-meter [data]=gpuRPM [label]="'Gpu RPM'" [max]=2500></app-meter> -->
    </mat-grid-tile>
    <mat-grid-tile
      [colspan] = "10"
      [rowspan] = "10">
      <div>
        <h1 class="label">Gpu Power</h1>
        <!-- <h1 class="value">{{gpuPower}}</h1> -->
        <h1 class="value">{{objects.gpuPowerO.value | number:'1.1-1' }} {{objects.gpuPowerO.unit}}</h1>
        <h3 class="min">
          {{objects.gpuPowerO.min | number:'1.1-1' }} {{objects.gpuPowerO.unit}}
        </h3>
        <h3 class="max">
          {{objects.gpuPowerO.max | number:'1.1-1' }} {{objects.gpuPowerO.unit}}
        </h3>
      </div>
      <!-- <app-meter [data]=gpuPower [label]="'Gpu Pwr'" [max]=190></app-meter> -->
    </mat-grid-tile>
    <mat-grid-tile
      [colspan] = "10"
      [rowspan] = "10">
      <div>
        <h1 class="label">Gpu Load</h1>
        <!-- <h1 class="value">{{gpuLoad}}</h1> -->
        <h1 class="value">{{objects.gpuLoadO.value | number:'1.1-1' }} {{objects.gpuLoadO.unit}}</h1>
        <h3 class="min">
          {{objects.gpuLoadO.min | number:'1.1-1' }} {{objects.gpuLoadO.unit}}
        </h3>
        <h3 class="max">
          {{objects.gpuLoadO.max | number:'1.1-1' }} {{objects.gpuLoadO.unit}}
        </h3>
      </div>
      <!-- <app-meter [data]=ssdTemp [label]="'SSD Tmp'" [max]=100></app-meter> -->
    </mat-grid-tile>
    <mat-grid-tile
      [colspan] = "10"
      [rowspan] = "10">
      <div>
        <h1 class="label">SSD Temp</h1>
        <h1 class="value">{{ssdTemp}}</h1>
      </div>
      <!-- <app-meter [data]=ssdTemp [label]="'SSD Tmp'" [max]=100></app-meter> -->
    </mat-grid-tile>
    <mat-grid-tile
      [colspan] = "10"
      [rowspan] = "10">
      <div>
        <h1 class="label">Water Temp</h1>
        <!-- <h1 class="value">{{waterTemp}}</h1> -->
        <h1 class="value">{{objects.waterTempO.value | number:'1.1-1' }} {{objects.waterTempO.unit}}</h1>
        <h3 class="min">
          {{objects.waterTempO.min | number:'1.1-1' }} {{objects.waterTempO.unit}}
        </h3>
        <h3 class="max">
          {{objects.waterTempO.max | number:'1.1-1' }} {{objects.waterTempO.unit}}
        </h3>
      </div>
      <!-- <app-meter [data]=ssdTemp [label]="'SSD Tmp'" [max]=100></app-meter> -->
    </mat-grid-tile>
    <mat-grid-tile
      [colspan] = "10"
      [rowspan] = "10">
      <div>
        <h1 class="label">Svr Cpu Load</h1>
        <h1 class="value">{{serverCpuLoad}}</h1>
      </div>
      <!-- <app-meter [data]=ssdTemp [label]="'SSD Tmp'" [max]=100></app-meter> -->
    </mat-grid-tile>
    <mat-grid-tile
      [colspan] = "10"
      [rowspan] = "10">
      <div>
        <h1 class="label">Svr Cpu Temp</h1>
        <h1 class="value">{{serverCpuTemp}}</h1>
      </div>
      <!-- <app-meter [data]=ssdTemp [label]="'SSD Tmp'" [max]=100></app-meter> -->
    </mat-grid-tile>
    <mat-grid-tile
      [colspan] = "10"
      [rowspan] = "10">
      <div>
        <h1 class="label">Svr RAM</h1>
        <h1 class="value">{{serverRam}}</h1>
      </div>
      <!-- <app-meter [data]=ssdTemp [label]="'SSD Tmp'" [max]=100></app-meter> -->
    </mat-grid-tile>
    <mat-grid-tile
      [colspan] = "10"
      [rowspan] = "10">
      <div class="multi">
        <h2 class="multilabel">SCpu: {{serverCpuLoad}}</h2>
        <h2 class="multilabel">SCpu Temp: {{serverCpuTemp}}</h2>
        <h2 class="multilabel">SCpu Ram: {{serverRam}}</h2>

        <!-- <h1 class="label">Svr Uptime</h1>
        <h1 class="smallvalue">{{serverUptime}}</h1> -->
      </div>
      <!-- <app-meter [data]=ssdTemp [label]="'SSD Tmp'" [max]=100></app-meter> -->
    </mat-grid-tile>
  </mat-grid-list>
</div>







<!--
<div>
  <p>Screen width: {{w}}</p>
  <p>Cpu Load: {{cpuLoad}}</p>
  <p>Cpu Temp: {{cpuTemp}}</p>
  <p>Cpu Power: {{cpuPower}}</p>
  <p>Cpu Fit V: {{cpuVoltage}}</p>
  <p>Cpu Freq: {{cpuFrequency}}</p>
  <p>Cpu Fan: {{cpuRPM}}</p>
</div>
-->

<router-outlet></router-outlet>


