
mat-grid-tile {
  background-color: rgb(51, 49, 49);
  /* border: 1px solid gray; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;


}

input[type=button]{
  background:transparent;
  border:0;
  position: absolute;
 }

h1 {
  margin: 0 !important;
  position: absolute;
  transform: translate(-50%, -50%);
}

h3 {
  margin: 0 !important;
  position: absolute;
  transform: translate(-50%, -50%);
}

div {
  margin: 0;
  padding: 0;
}

.label {
  color: white;
  font-size: 2vw;
  top: 30% !important;
  width: 100%;
  text-align: center;
}

.labelsm {
  color: white;
  font-size: 1vw;
  top: 20% !important;
  width: 100%;
  text-align: center;
}

.multi {
  width: 100%;
  height: 100%;
  text-align: center;
}

.multilabelMain {
  color: white;
  margin: 0 !important;
  padding: 0 !important;
  padding-top: 3% !important;
  padding-bottom: 3% !important;
  position: relative !important;
  font-size: 1.3vw;
  margin-left: 2% !important;
  width: 100%;
  height: 14% !important;
}

.multilabelA {
  color: white;
  margin: 0 !important;
  padding: 0 !important;
  padding-top: 25% !important;
  padding-bottom: 3% !important;
  position: relative !important;
  font-size: 1vw;
  margin-left: 2% !important;
  width: 100%;
  height: 12% !important;
}

.multilabelB {
  color: white;
  margin: 0 !important;
  padding: 0 !important;
  padding-bottom: 3% !important;
  position: relative !important;
  font-size: 1vw;
  margin-left: 2% !important;
  width: 100%;
  height: 12% !important;
}

.multilabelC {
  color: white;
  margin: 0 !important;
  padding: 0 !important;
  position: relative !important;
  font-size: 1vw;
  margin-left: 2% !important;
  width: 100%;
  height: 5% !important;
}
.multilabelD {
  color: white;
  margin: 0 !important;
  padding: 0 !important;
  position: relative !important;
  font-size: 1vw;
  margin-left: 2% !important;
  width: 100%;
  height: 12% !important;
}

.value {
  color: lightseagreen;
  font-size: 3vw;
  top: 55% !important;
  width: 100%;
  text-align: center;
}

.valuesm {
  color: lightseagreen;
  font-size: 2.7vw;
  top: 55% !important;
  width: 100%;
  text-align: center;
}

.innercolor {
  color: lightseagreen;
}

.smallvalue {
  color: white;
  font-size: 1vw;
  top: 85% !important;
  width: 100%;
  text-align: center;
}

.min {
  color: white;
  font-size: 1.5vw;
  /* left: 5px; */
  top: 92% !important;
  width: 100%;
  margin-left: 5px !important;
  text-align: left;
}

.minsm {
  color: white;
  font-size: 1.3vw;
  /* left: 5px; */
  top: 85% !important;
  margin-left: 5px !important;
  width: 100%;
  text-align: left;
}

.max {
  color: white;
  font-size: 1.5vw;
  /* right: 5px; */
  top: 92% !important;
  width: 100%;
  text-align: right;
}

.maxsm {
  color: white;
  font-size: 1.3vw;
  /* right: 5px; */
  margin-right: 50px !important;
  top: 85% !important;
  width: 100%;
  text-align: right;
}
